<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body>
    <center>
<h1> My Watch List</h1>
</center>
<img src= 'https://upload.wikimedia.org/wikipedia/en/5/5a/Attack_of_the_Killer_Tomatoes.jpg'id = img2 >
<h5> </h5>
<a href = 'https://app.plex.tv/desktop/#!/provider/tv.plex.provider.vod/details?key=%2Flibrary%2Fmetadata%2F5df3eddef84420001dd58628' id = "a1"> Watch "Attack of the Killer Tomatoes"</a>
<h1> </h1>
<a href="/product" > 
<button > MORE MOVIES MOREEE</button> </a>
</body>
</html>