<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Product</title>

     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <center>

<a href="/" > 
<button > BACK TO HOME PAGE</button> </a>
<h1> </h1>
<img src= 'https://upload.wikimedia.org/wikipedia/en/5/5a/Attack_of_the_Killer_Tomatoes.jpg'id = img2 >
<h5> </h5>
<a href = 'https://app.plex.tv/desktop/#!/provider/tv.plex.provider.vod/details?key=%2Flibrary%2Fmetadata%2F5df3eddef84420001dd58628' id = "a1"> Watch "Attack of the Killer Tomatoes"</a>
<p> </p>
<a href="/cart" > 
<button > add to cart</button> </a>
<h1>     </h1>
 <img src ='https://flxt.tmsimg.com/assets/p1909_p_v8_ac.jpg'  id = img1>
 <h5> </h5>
 <a href = 'https://app.plex.tv/desktop/#!/provider/tv.plex.provider.vod/details?key=%2Flibrary%2Fmetadata%2F5deec5fe6fb85b002033d003' id = "a2">watch "The Invisible Ghost" </a>
</center>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>

</body>
</html>
